@media (prefers-reduced-motion: no-preference) {
  #index-icon, #index-icon * {
    fill-opacity: 0;
    stroke-dasharray: 4300;
    stroke-dashoffset: 4300;
    animation: dash 1s ease-in forwards;
  }
  
  @keyframes dash {
    40% {
      fill-opacity: 0;
    }
  
    100% {
      fill-opacity: 100%;
      stroke-dashoffset: 0;
      stroke-width: 1px;
    }
  }
  
  .home-animated-decoration {
    text-decoration: 3px underline;
    animation: fade-in .4s ease-in;
    animation-delay: 1s;
    animation-fill-mode: both;
  }
  
  @keyframes fade-in {
    0% {
      text-decoration-color: transparent;
    }
  
    100% {
      text-decoration-color: rgb(79, 70, 229);
    }
  }
}

* {
  transition: background .2s linear, color .2s linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #939393;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4F46E5;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d36c1;
}

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration,
[type="search"] {
  -webkit-appearance: none;
}

#dashboard-section {
  display: grid;
  grid-template-columns: 300px auto;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transition: grid-template-columns .2s linear;
}

#main-dashboard {
  display: grid;
  grid-template-rows: 100px auto;
}

.closed {
  animation: hide-aside 1s linear;
  padding: 0 !important;
}

@keyframes hide-aside {
  90% {
    display: none;
  }
}

section:has(.closed) {
  padding-left: 0;
}

aside.closed > *:not(#arrow) {
  display: none;
}

.closed #arrow:hover {
  right: -25px;
}

#dashboard-section:has(aside.closed) {
  grid-template-columns: 0px auto;
}

.closed section,
.closed ul {
  display: none;
}

#main-project-container {
  background: rgb(29,5,33);
  background: linear-gradient(342deg, rgba(29,5,33,1) 13%, rgba(108,52,128,1) 100%);
}

:root {
  --backdrop-bg: transparent;
}

dialog {
  opacity: 0;
  transition: opacity .2s ease-in-out, background .2s ease-in-out;
}

dialog::backdrop {
  background: var(--backdrop-bg);
  transition: background .2s ease-in-out;
}